name: "conflict-finder"
on:
  pull_request:
  push:
    branches: [main]
jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - uses: hcancelik/pr-conflict-finder@v1
        with:
          secret_token: ${{ secrets.GITHUB_TOKEN }}
